.container {
    display: flex;
    flex-direction: column;
}

.infoTitle {
    background-color: #00ADB5;
    margin: -8px;
    color: #EEEEEE;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
}

.infoImage {
    border-radius: 20%;
}

.title {
    padding-left: 20px;
}

.information {
    color: #EEEEEE;
    font-family: ui-monospace;
    display: flex;
    flex-direction: column;
}

.note {
    font-weight: normal;
}

.howItWorksHeader {
    margin-bottom: 0;
}

.textArea {
    background-color: #393E46;
    border-radius: 5px;
    font-family: ui-monospace;
    border-color: #EEEEEE;
    color: #EEEEEE;
}

.textArea:focus {
    outline-color: #00ADB5;
}

@media only screen and (max-width: 760px) {
    .recordContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
    }
    
    .arrow {
        color: #393E46;
        font-size: 50px;
        rotate: 90deg;
    }
    
    .recordButton {
        border-radius: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        background-color: #00ADB5;
        color: #EEEEEE;
        font-family: ui-monospace;
        font-weight: bold;
        font-size: x-large;
    }
    
    .convertButton {
        border-radius: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        background-color: #00ADB5;
        color: #EEEEEE;
        font-family: ui-monospace;
        font-weight: bold;
        font-size: x-large;
    }
    
    .stopButton {
        border-radius: 15px;
        border: 0;
        background-color: #00ADB5;
        color: #EEEEEE;
        font-family: ui-monospace;
        font-weight: bold;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: x-large;
    }
}

@media only screen and (min-width: 761px) {
    
    .recordContainer {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
    }
    
    .arrow {
        color: #393E46;
        font-size: 50px;
    }
    
    .recordButton {
        border-radius: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        background-color: #00ADB5;
        color: #EEEEEE;
        font-family: ui-monospace;
        font-weight: bold;
        font-size: x-large;
    }
    
    .convertButton {
        border-radius: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        background-color: #00ADB5;
        color: #EEEEEE;
        font-family: ui-monospace;
        font-weight: bold;
        font-size: x-large;
    }
    
    .stopButton {
        border-radius: 15px;
        border: 0;
        background-color: #00ADB5;
        color: #EEEEEE;
        font-family: ui-monospace;
        font-weight: bold;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: x-large;
    }
}

.audioTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.audioTitle {
    color: #EEEEEE;
    font-family: ui-monospace;
}

.audioDivider {
    border-top: 1px solid #00ADB5;
    width: 80%;
    margin-top: -10px;
}

.audioList {
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

.audioContainer {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.downloadButton {
    border-radius: 15px;
    width: 65%;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    background-color: #00ADB5;
    color: #EEEEEE;
    font-family: ui-monospace;
    font-weight: bold;
    font-size: medium;
}